@font-face {
	font-family: 'PT Sans Narrow Bold';
	src: url('../fonts/PTN77F.ttf') format('truetype');
}

body, pre {
	font-family: "PT Sans Narrow Bold";
	background: #161c23;
	color: #fff;
	margin: 10px;
	display: flex;
	overflow-y: auto;
	white-space: normal;
	width: 550px;
	/* overflow: hidden; */
}


::-webkit-scrollbar {
	width: 0;
  }

pre {
	margin: 0;
	display: inline;
}

font {
	line-height: 160%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
